article {
    padding: 2em 3em;
    z-index: 1000;
}


article h3 {
    color: #464547;
}

/* space to spesific clases  */

.learn_more_about_our_cuture {
    position: static;
    background-image: url(../assets/back_video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
}

.read_btn {
    /* shape button */
    background-color: #39C2D7;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 0;

    /* Font */
    font-family: Oswald Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    letter-spacing: 0.1em;

    transform-origin: left center ;
    transition: transform .5s ease;
}

.play_btn {

    /* Font */
    color: #FFFFFF;
    border-radius: 2px;

    /* shape button */
    background-color: #39C2D7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0;
    font-size: 400%;

    transform-origin: left center ;
    transition: transform .5s ease;
}

.article_1 {
    text-align: left;
}

.article_2_col {
    display: flex;
    flex-direction: column;
    padding: 0em 0em;
    gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.article_2_col>p {
    flex: 1 1 0px;
}

/* @media only screen and (min-width: 600) {
    .article_2_col {
        display: flex;
        flex-direction: row;
        padding: 0em 0em;
        gap: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }
} */

/*
tranform animation hover 
*/

.read_btn:hover {
    transform: rotateZ(4deg);
}

.play_btn:hover {
    transform: scale(0.95);
    color: #39C2D7;
    background-color: #FFFFFF;
}


@media only screen and (min-width: 600px) {

    .article_1 {
        text-align: center;
    }

    .article_2_col {
        flex-direction: row;
    }
}