.headline {
    position: static;
    background-image: url(../assets/back_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
    z-index: -1;
}


article h2 {
    font-size: 48px;
}

article h3 {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.headline img{
    
    z-index: 2000;
    transition: transform 1s ease;
}

.light_points{

    position: absolute;
    overflow: hidden;

    background: url(../assets/img_animation/little_points.png)  top left no-repeat;
    width: 100%;
    height: 500px;
    z-index: 0;

    background-size: cover;

    animation: zoom_points 10s linear infinite backwards;

}

.light_vectors{

    position: absolute;
    overflow: hidden;

    background: url(../assets/img_animation/Vectors_whitout_points.png)  top left no-repeat;
    width: 100%;
    height: 500px;
    z-index: 0;

    background-size: cover;

    animation: light_vectors 10s linear infinite backwards;

}

/*
tranform animation hover 
*/

.headline img:hover {
    transform: rotateY(360deg) scale(1.2);
}

@keyframes zoom_points {
    0% { 
        transform:scale(1.3);
    } 
    50% { 
        transform:scale(1);
    }
    100% { 
        transform:scale(1.3);
    } 
}

@keyframes light_vectors {
    0% { 
        opacity: 0;
    } 
    50% { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
    } 
}